<style>
    ul.dropdown-menu a.dropdown-item {
        background-color: transparent !important;
    }
</style>
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <% menu.nav.filter((item)=>{
                if(
                !item.isProtected ||
                (locals.user && !item.isAdmin) ||
                (item.isAdmin && locals.user && locals.user.role === "ADMIN")) return true })
                .map((item)=>{%>
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis px-2" href="<%= item.href %>">
                        <%= item.label %>
                    </a>
                </li>
                <%}) %>
        </ul>
        <ul class="nav">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="<%= user? user.profileImage :" https://github.com/mdo.png"%>"
                alt="mdo" width="32" height="32"
                class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <%if (user){%>
                    <% menu.dropdown.filter((item)=>{
                        if(
                        !item.isProtected ||
                        (locals.user && !item.isAdmin) ||
                        (item.isAdmin && locals.user && locals.user.role === "ADMIN")) return true })
                        .map((item)=>{%>
                        <li class="nav-item">
                            <a class="dropdown-item" href="<%= item.href %>">
                                <%= item.label %>
                            </a>
                        </li>
                        <%}) %>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/auth/signout">Sign out</a></li>
                            <%}else{%>
                                <li><a class="dropdown-item text-center p-2 fs-5 text-primary" href="/auth/signin">Sign
                                        in</a></li>
                                <li class="dropdown-item fs-6 fw-light" id="signup_li" style="user-select: none;">
                                    New Customer?<br /><a href="/auth/signup">Start
                                        here</a>
                                </li>
                                <%}%>
            </ul>
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <img src="/static/images/logo.png" class="float-left" width="30" alt="logo">

            <span class="fs-4"> &nbsp; &nbsp;&nbsp; The Power of Sharing</span>
        </a>
        <form class="col-12 col-lg-4 mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>
<style>
    #signup_li:active a {
        color: white;
    }
</style>