<h1>borrow item <%= item.itemName %>
</h1>
<p>User <%= user.username %>
</p>

<<<<<<< HEAD
<form action="/item/borrow?id=<%= item._id %>" method="post">
    <button type="submit">borrow</button>
</form>

<section style="background-color: #eee;">
    <div class="container py-5">
      
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/images/items/<%= item.itemImage %>" alt="profile picture" width="200" height="200" alt="profile image"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= item.title %></h5>
                        
              <div class="d-flex justify-content-center mb-2">
                <form action="/item/borrow?id=<%= item._id %>" method="post">
                    <button type="submit">borrow</button>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Item Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= item.itemName %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Item Description</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= item.description %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Item Conditon</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= item.condition %></p>
                </div>
              </div>
              <hr>        
              <div class="row">
                 <div class="col-sm-3">
                  <p class="mb-0">Item Owner</p>
                  </div>
                  <div class="col-sm-3">
                  <p class="text-muted mb-0"><%= item.owner.username %></p>
                            
                  </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                
                <p class="mb-0">Reviews</p>
              </div>
              <div class="col-sm-9">
                
                <% if (item.numOfReview) { %>
                    <% let point=0%>
                        <% for (const key in item.review) { %>
                            <%point+= item.review[key].score %>
                                <% } %>
                                    <%= `rating: ${Math.round((point/ item.review.length)*(100/5)*100)/100}%` %>
                                        <% } else { %>
                                            no review yet
                                            <% } %>
                
            </div>
        </div>
        </div>
      </div>
=======
<% if (user.credit<item.deposit) { %>

    <form action="/item/borrow?id=<%= item._id %>" method="post">
        <button type="submit" disabled>borrow </button>
        You have insufficient balance, <a href="/payment">please make payment first</a>
        <% } else { %>
            <form action="/item/borrow?id=<%= item._id %>" method="post">
                <button type="submit">Rent it </button>
                <% } %>
            </form>
>>>>>>> b1fb1a91252f3a1459c9b1af77f62fca565261aa
