<h2>
    <%= item.title %>
</h2>
<div>
    <img src="/images/items/<%= item.itemImage %>" alt="item picture" width="200" height="200">

    <%= item.itemName %>
        Description: <%= item.description %>
            Price per day: <%= item.priceRate %>
                condition: <%= item.condition %>
                    owner: <a href="/user/detail?id=<%= item.owner._id %>">
                        <%= item.owner.username %>
                    </a>
</div>
<div>
    <% if (item.numOfReview) { %>
        <% let point=0%>
            <% for (const key in item.review) { %>
                <%point+= item.review[key].score %>
                    <% } %>
                        <%= `rating: ${Math.round((point/ item.review.length)*(100/5)*10)/10}%, number of reviews:
                            ${item.review.length}` %>
                            <% } else { %>
                                no review yet
                                <% } %>
</div>
<div>
    <% if (user&&item.owner.id.toString()===user._id.toString()) { %>
        <% if (!item.isAvailable) { %>
            borrower: <%= item.borrower.username %>
                borrowed date <%= item.borrowDate %>
                    <% } %>
                        <% } else { %>
                            <% if (item.isAvailable) { %>
                                <a href="/item/borrow?id=<%= item._id %>">Rent it</a>
                                <% } %>
                                    <% } %>
</div>

<div>
    <% if ((!item.isAvailable)&&item.borrower.id.toString()===user._id.toString()) { %>
        <a href="/item/return?id=<%= item._id %>">return</a>
        <% } %>
</div>