<h2> <%= item.title %></h2>

<div>
    content: <%= item.itemName %>
</div>

<div>
    content: <%= item.description %>
</div>

<div>
    content: <%= item.priceRate %>
</div>

<div>
    content: <%= item.condition %>
</div>


<div>
    userId: <%= item.user %>
</div>

<div>
    review: <%= item.review %>
</div>

<div>
    content: <%= item.type %>
</div>


<div>
    content: <%= item.score %>
</div>