<h1>Edit item</h1>
<form method="POST" action="/item/edit/details?id=<%= item._id %>">
    <label>Item Name</label>
    <input name="itemName" type="text" value="<%= item.itemName %>" required />

    <label>Item description</label>
    <textarea name="description" value="<%= item.description %>" required><%= item.description %></textarea>

    <label>Price pre day</label>
    <input name="priceRate" type="number" value="<%= item.priceRate %>" min="0" required />

    <label>Dopsite amount</label>
    <input name="deposit" type="number" value="<%= item.deposit %>" min="0" required />

    <label>Item condition</label>
    <select name="condition" id="condition" required>
        <option value="new">new</option>
        <option value="good">good</option>
        <option value="old">old</option>
    </select>

    <label>Item Type</label>
    <select name="type" id="type" required>
        <option value="home appliances">home appliances</option>
        <option value="electronics">electronics</option>
        <option value="other">other</option>
    </select>

    <button type="submit">Update</button>

</form>
<br>
<br>
<br>
<form action="/item/addimg?id=<%= item._id %>" method="post" enctype="multipart/form-data">
    <img src="/images/items/<%= item.itemImage %>" alt="item picture" width="200" height="200">
    <input type="file" name="itemImage" id="" required>
    <button type="submit">submit item</button>
</form>

<!--------------------------------------------------------------- New tamplet ------------------------------ -->

<!-- add item pix layout -->

<div class="container py-5" >

    <h2 class="edit">Add Item</h2>
       <form action="/item/add"  method="post" enctype="multipart/form-data">    
       
     
     <div class="row align-items-center justify-content-around row g-3">
               
         <div class="col-9">
            
            <input class="form-control" type="file" name="itemImage">
            
          </div>
          <div class="col-3">
            
            <button type="submit" class="btn btn-outline-primary ms-1" required >Add Image</button>
          </div>
          
     </div>
     
    </form>
  <!-- edit form layout -->
  
    <div class="row g-3">
  
        <form class="row g-3 justify-content-around" method="POST" action="/user/edit" >
            <div class="col-md-6">
                <label>Item Name</label>
              <input name="itemName" type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label>Item description</label>
              <textarea name="lastName" type="text" class="form-control" required>
  
              </textarea>
              </div>
              <div class="col-md-6">
                <label>Price pre day</label>
              <input name="priceRate" type="text" class="form-control" required>
              </div>
              <div class="col-md-6">
                <label>Dopsite amount</label>
              <input name="deposit" type="text" class="form-control" required>
              </div>
              <div class="col-md-6 dropdown-center" >
                <label>Item condition</label>
                <select name="condition" id="condition" required>
                <option value="new">new</option>
                <option value="good">good</option>
                <option value="old">old</option>
                </select>
            </div>
            <div class="col-md-6">
              <label>Item Type</label>
              <select name="type" id="type" required>
              <option value="home appliances">home appliances</option>
              <option value="electronics">electronics</option>
             <option value="other">other</option>
             </select>
          </div>
  
            <div class="col-md-6 d-flex align-items-end">
  
                <input type="submit" class="btn btn-outline-primary ms-1" value="Update info">
              </div>
    
            </form>
                        
     </div>