<h1>Edit item</h1>
<form method="POST" action="/item/edit/details?id=<%= item._id %>">
    <label>Item Name</label>
    <input name="itemName" type="text" value="<%= item.itemName %>" required />

    <label>Item description</label>
    <textarea name="description" value="<%= item.description %>" required><%= item.description %></textarea>

    <label>Price pre day</label>
    <input name="priceRate" type="number" value="<%= item.priceRate %>" min="0" required />

    <label>Dopsite amount</label>
    <input name="deposit" type="number" value="<%= item.deposit %>" min="0" required />

    <label>Item condition</label>
    <select name="condition" id="condition" required>
        <option value="new">new</option>
        <option value="good">good</option>
        <option value="old">old</option>
    </select>

    <label>Item Type</label>
    <select name="type" id="type" required>
        <option value="home appliances">home appliances</option>
        <option value="electronics">electronics</option>
        <option value="other">other</option>
    </select>

    <button type="submit">Update</button>

</form>
<br>
<br>
<br>
<form action="/item/addimg?id=<%= item._id %>" method="post" enctype="multipart/form-data">
    <img src="/images/items/<%= item.itemImage %>" alt="item picture" width="200" height="200">
    <input type="file" name="itemImage" id="" required>
    <button type="submit">submit item</button>
</form>