<h1> item list </h1>

<table class="table table-striped">
    <tr>
        <th>Item Name</th>
        <th>Item description</th>
        <th>Item price</th>
        <th>Item condition</th>
        <th>review</th>
        <th>score</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% items.forEach(function(item){ %>
        <tr>
            <td>
                <%= item.itemName %>
            </td>
            <td>
                <%= item.description %>
            </td>
            <td>
                <%= item.priceRate %>
            </td>
            <td>
                <%= item.condition %>
            </td>
            <td>
                <%= item.review %>
            </td>

            <td>
                <%= item.score %>
            </td>


        </tr>
        <% }) %>
</table>