<h1> Item list </h1>

<table class="table table-striped">
    <tr>
        <th>Item Name</th>
        <th>Item description</th>
        <th>Item price</th>
        <th>Item condition</th>
        <th>Item type</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>

<% items.forEach(function(item){ %> 
    <tr>
        <td><%= item.itemName %></td>
        <td><%= item.description %></td>
        <td><%= item.priceRate %></td>
        <td><%= item.condition %></td>
        <td><%= item.type %></td>
        <td><a href="/item/edit?id=<%=item._id%>">Edit</a></td>

        <td>
            <form method="POST" action="/item/delete?id=<%=item._id%>&_method=Delete">
                <button type ="submit">Delete</button>
            </form>
            </td>
       
    </tr>
<% }) %>
</table>