<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/test.css">
    <title>RnB</title>
</head>

<body>
    Layout
    <nav>
        <a href="/">home</a>
        <a href="/home/another">another</a>
        <a href="/user/list">Users list</a>
        <a href="/user/myProfile">My profile</a>
        <a href="/item/add">Add item</a>

        <% if (locals.user) { %>
            <a href="/auth/signout">sign out</a>
            <p>Hi <%= locals.user.username %>
                    <% } else { %>
                        <a href="/auth/signin">sign in</a>
                        <a href="/auth/signup">sign up</a>
                        <% } %>
    </nav>

    <% if (locals.messages) { %>
        <ul class="messages">
            <% Object.keys(messages).forEach((key)=> { %> <% messages[key].forEach((message)=> { %>
                    <li class="<%= key %>">
                        <%= message %>
                    </li>
                    <% }) %>
                        <% }) %>
        </ul>
        <% } %>
            <hr>
            <% if (messages.error) { %>
                <p>
                    <%= messages.error %>
                </p>
                <% } %>
                    <br>
                    <%- body %>
</body>

</html>