<h1> Users detail </h1>
<div>
  <img src="/images/profile/<%= user.profileImage %>" alt="profile picture" width="200" height="200">

</div>
<div>
  Username: <%= user.username %>
</div>
<div>
  Email Address: <a href="mailto:<%= user.emailAddress %>">
    <%= user.emailAddress %>
  </a>
</div>
<div>

  Mobile Number: <a href="tel:+<%= user.telNumber %>">
    <%= user.telNumber %>
  </a>
</div>
<div>
  <% const options={ year: 'numeric' , month: 'long' } %>
    User since: <%= user.createdAt.toLocaleDateString('en-US', options) %>
</div>
<div>
  Rating:
  <% let point=0%>
    <% let total=0%>

      <% for (const key in user.item) { %>
        <% if (user.item[key].numOfReview) { %>
          <% for (const index in user.item[key].review) { %>
            <%point+= user.item[key].review[index].score %>
              <%total++ %>
                <% } %>
                  <% } %>
                    <% } %>
                      <% if (total) { %>
                        <%=`${Math.round(( point/total)*10)*(10/5)}%, number of reviews: ${total}` %>
                          <% } else { %>
                            no review
                            <% } %>
</div>
<hr>
<div>
  <% for( let key in user.item ) { %>
    <a href="/item/details?id=<%= user.item[key]._id %>">
      <img src="/images/items/<%= user.item[key].itemImage %>" alt="item picture" width="200" height="200">
      <%= user.item[key].itemName %>
    </a>
    <% } %>
</div>