<!-- edit profile pix layout -->

<div class="container py-5">

    <h2 class="edit">Edit Profile</h2>
    <form action="/user/edit/img" method="post" enctype="multipart/form-data">

        <img src="<%= user.profileImage %>" alt="profile picture" width="200" height="200" class="pic">



        <div class="row align-items-center justify-content-between g-3 py-2">

            <div class="col-12 col-md-10">

                <input class="form-control" type="file" name="profileImage">

            </div>
            <div class="col-sm-12 col-md-2">

                <button type="submit" class="btn btn-outline-primary w-100">Update image</button>
            </div>

        </div>

    </form>
    <!-- edit form layout -->


    <form class="row g-3 justify-content-between mt-4" method="POST" action="/user/edit">
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div class="col-md-3 py-2">
                    <label>First Name</label>
                    <input name="firstName" type="text" class="form-control" value="<%= user.firstName %>">
                </div>
                <div class="col-md-3 py-2">
                    <label>Last Name</label>
                    <input name="lastName" type="text" class="form-control" value="<%= user.lastName %>">
                </div>
                <div class="col-md-3 py-2">
                    <label>Email Address</label>
                    <input name="emailAddred" type="email" class="form-control"
                        value="<%= user.emailAddress|| user.googleEmailAddress %>" disabled>
                </div>
                <div class="col-md-3 py-2">
                    <label>Mobile Number</label>
                    <input name="telNumber" type="text" class="form-control" value="<%= user.telNumber %>">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-2 d-flex align-items-end py-2">
            <input type="submit" class="btn btn-outline-primary ms-1 w-100" value="Update info">
        </div>

    </form>


    <!-- edit password change layout -->
    <% if (!user.googleId) { %>


        <form class="row g-3 justify-content-between mt-4" action="/user/edit/password" method="post">
            <div class="col-sm-12 col-md-10">
                <div class="row">
                    <div class="col-md-4 py-2">
                        <label for="oldPassword">Current password</label>
                        <input type="password" placeholder="Current Password" class="form-control" name="password" id=""
                            required>
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="NewPassword">New password</label>
                        <input type="password" placeholder="New Password" class="form-control" name="newPassword1" id=""
                            required>
                    </div>
                    <div class="col-md-4 py-2">
                        <label for="NewPassword">Confirm password</label>
                        <input type="password" placeholder="Confirm Password" class="form-control" name="newPassword2"
                            id="" required>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-2 d-flex align-items-end py-2">
                <button type="submit" class="btn btn-outline-primary ms-1 w-100">Change password</button>
            </div>

        </form>
        <% } %>

</div>




<!-- <form action="/upload/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage" id="">

    <input type="hidden" name="id" value="<%= user._id %>" />
    <button type="submit">submit</button>
</form> -->