<h1> Users detail </h1>

<div>
  <img src="/images/profile/<%= user.profileImage %>" alt="profile picture" width="200" height="200">

</div>
<div>
  first Name: <%= user.firstName %>

</div>
<div>
  Last Name: <%= user.lastName %>
</div>
<div>
  Name:<%= user.username %>
</div>


<div>
  email Address: <%= user.emailAddress %>
</div>
<div>

  telephone Number :<%= user.telNumber %>
</div>
<div>

  points:
  <% let point=0%>
    <% let total=0%>

      <% for (const key in user.item) { %>
        <% for (const index in user.item[key].review) { %>
          <%point+= user.item[key].review[index].score %>
            <%total++ %>
              <% } %>
                <% } %>
                  <%=`${Math.round(( point/total)*10)/10}, number of reviews: ${total}` %>





</div>


<a href="/user/edit">
  <div>Edit</div>
</a>
<a href="/item/add">
  <div>List a new Item</div>
</a>
<br>
<hr>
<div>
  <% for( let key in user.item ) { %>
    <a href="/item/details?id=<%= user.item[key]._id %>">
      <p>
        <%= user.item[key].itemName %>
      </p>
    </a>
    <% } %>
</div>
<br>
<hr>
<div>
  <% for( let key in user.borrowedItem ) { %>
    <a href="/item/details?id=<%= user.borrowedItem[key]._id %>">
      <p>
        <%= user.borrowedItem[key].itemName %>
      </p>
    </a>
    <% } %>
</div>