<h1>My profile</h1>

<div>
  <img src="/images/profile/<%= user.profileImage %>" alt="profile picture" width="200" height="200">

</div>
<div>
  Name: <%= `${user.firstName} ${user.lastName}` %>

</div>

<div>
  Username:<%= user.username %>
</div>


<div>
  email Address: <a href="mailto:<%= user.emailAddress %>">
    <%= user.emailAddress %>
  </a>
</div>
<div>

  Mobile Number: <a href="tel:+<%= user.telNumber %>">
    <%= user.telNumber %>
  </a>
</div>
<div>credit amount: BD<%= user.credit %>
</div>
<div>
  Rating:
  <% let point=0%>
    <% let total=0%>

      <% for (const key in user.item) { %>
        <% for (const index in user.item[key].review) { %>
          <%point+= user.item[key].review[index].score %>
            <%total++ %>
              <% } %>
                <% } %>
                  <% if (total) { %>
                    <%=`${Math.round(( point/total)*10)*(10/5)}, number of reviews: ${total}` %>
                      <% } else { %>
                        no reviews yet
                        <% } %>







</div>


<a href="/user/edit">
  <div>Edit</div>
</a>
<a href="/item/add">
  <div>List a new Item</div>
</a>
<a href="/payment">
  <div>Add credit</div>
</a>

<div>
  <h5>My Listed Items</h5>
  <% if (Object.keys(user.item).length) { %>
    <% for( let key in user.item ) { %>
      <div>
        <div>
          <p>
            <img src="/images/items/<%= user.item[key].itemImage %>" alt="item picture" width="200" height="200">
          </p>
          <p>
            item title: <%= user.item[key].itemName %>
          </p>
        </div>
        <a href="/item/details?id=<%= user.item[key]._id %>"><input type="button" value="view"></a>
        <a href="/item/edit?id=<%= user.item[key]._id %>"><input type="button" value="edit"></a>
        <a href="/item/delete?id=<%= user.item[key]._id %>"><input type="button" value="delete"></a>
      </div>
      <hr>
      <% } %>
        <% } else { %>
          <p>no item listed yet</p>
          <% } %>
</div>

<div>
  <h5>Borrowed Items</h5>
  <% if (Object.keys(user.borrowedItem).length) { %>
    <% for( let key in user.borrowedItem ) { %>
      <a href="/item/details?id=<%= user.borrowedItem[key]._id %>">
        <p>
          <%= user.borrowedItem[key].itemName %>
        </p>
      </a>
      <% } %>
        <% } else { %>
          <p>no borrowed item</p>
          <% } %>
</div>